<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Checkout</h1>
        {% if product_list %}
        <ul>
          {% for item in product_list %}
            <li>
              {{ item.product.name }} - {{ item.quantity }} x {{ item.product.price }}
            </li>
          {% endfor %}
        </ul>

        <p>Total: {{ total }}</p>
      {% endif %}

    <button class="header-button-style"><a href="{% url 'products' %}">Back to product list</a></button>
    <button class="header-button-style"><a href="{% url 'checkout' %}">Checkout</a></button>

</body>
</html>
