{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<a href="{% url 'logout' %}">Logout</a>
<h1> Ciao {{ customer }}, abiti in {{ customer.residentialaddress }} </h1>
{% if product_list %}

    <div class="header">
        <div class="header-buttons">
            <button class="header-button-style">Cart</button>
            <button class="header-button-style">Home</button>
        </div>
    </div>
    <div class="content-section">
        <h2>Products</h2>
        <div class="grid-container">
             {% for product in product_list %}
            <div class="product-card">
                <div>
                    <h2>{{ product.name }}</h2>
                    <p>Description: {{ product.description }}</p>
                    <p>{{ product.price }}</p>
                    <button>Add To Cart</button>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>


    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
  {% else %}
    <p>There are no products in the library.</p>
  {% endif %}
</body>
</html>