<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping cart</title>
</head>
<body>

    {% block content %}
      <h1>Shopping cart</h1>
        <a href="{% url 'products' %}">Go to the products list</a>
      {% if cart.get_cart_products %}
        <ul>
          {% for item in cart.get_cart_products %}
            <li>
              {{ item.product.name }} - {{ item.quantity }} x {{ item.product.price }}
            <a href="{% url 'delete_from_cart' item.id %}">Remove</a>
            <a href="{% url 'increase_product_quantity' item.id %}">Increase quantity</a>
            <a href="{% url 'decrease_product_quantity' item.id %}">Decrease quantity</a>
            </li>
          {% endfor %}
        </ul>

        <p>Total: {{ cart.get_cart_total }}</p>

        <a href="{% url 'checkout' %}">Checkout</a>
      {% else %}
        <p>Shopping cart is empty.</p>
      {% endif %}
    {% endblock %}

</body>
</html>