{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
 <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  </head>
<body>
<nav class="navbar navbar-light bg-light">
        <a class="navbar-brand mx-auto" href="">
          PentaShop
        </a>
      </nav>
      <br><br>

  <div class="center">
	  <form method="post" class="card" novalidate>
	  	{% csrf_token %}
	    <h2 class="text-center">Log in to your account</h2>
		{{ form|crispy }}

		<input type="submit" value="Login" class="btn btn-primary full-width">
		<hr>
		<p class="text-center">Don't have an account? <a href="{% url 'register' %}">Join Now</a></p>
	</form>
</div>

</body>
</html>